/112-2/MI5118701 人工智慧技術與商業應用/genetic/genetic/build/
/112-2/MI5118701 人工智慧技術與商業應用/genetic/genetic/nbproject/private/
/112-2/MI5118701 人工智慧技術與商業應用/minimax/minimax/build/
/112-2/MI5118701 人工智慧技術與商業應用/minimax/minimax/nbproject/private/
